@import 'styles.css';


main {
    background-color: var(--dark-grey);
}

.seccionDetalle {
    background:linear-gradient(to right top, var(--font-mid-grey), var(--font-mid-grey)),url("../images/movies/details_bg/mario-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    padding-top: var(--spacing-40);
    color: var(--light-font-solid);
}

.contenedorDetalle {
    width:75%;
    margin: 0 auto;

    display: flex;
    column-gap: var(--spacing-68);
    align-items: center;
    justify-content: center;
}

.imagenDetalle > img {
    border-radius: 20px;
}

.textoDetalle > h1 {
    font-size: var(--font-large);
    font-weight: 700;
}

.textoDetalle > h2, .contenedorTrailer > h2 {
    font-size: var(--font-mlarge);
    font-weight: 700;
}

.contenedorCreditos {
    display: flex;
    justify-content: space-between;
} 

.contenedorCreditos > div > h3 {
    font-size: var(--font-medium);
    font-weight: 700;
}

p {
    font-size: var(--font-small);
    padding-bottom: var(--spacing-16);
}

.seccionVideo {
    background-color: var(--dark-grey);
    color: var(--light-font-solid);
    height: 75vh;
    width: 75%;
    margin: 0 auto;
    padding-top: var(--spacing-128);
    padding-bottom: var(--spacing-128);

    display: flex;
    align-items: center; /* alineacion htal */
    justify-content: space-between; /* alineacion vert */

    view-timeline-name: --section;
    view-timeline-axis: block;
    animation-timeline: --section;
    animation-name: show;
    animation-range: entry 20% cover 75%; 
    animation-fill-mode: both;   
}

.contenedorInfo > .contenedorRedesSociales {
    margin-bottom: 20px;
}

.contenedorRedesSociales > ul {
    list-style: none;
    display: flex;
    column-gap: var(--spacing-20);
}

.contenedorRedesSociales .linkRedesSociales {
    text-decoration: none;
    color: var(--light-font-solid);
    font-size: var(--font-mlarge);
    margin-right: var(--spacing-40); 
}

.contenedorPresupuesto th {
    font-size: var(--font-medium);
} 

.contenedorPresupuesto td {
    font-size: var(--font-medium);
    padding: var(--spacing-12) var(--spacing-12);
}

.contenedorPresupuesto td:first-of-type {
    font-weight: bold;
}

/* **************** @media hasta 768px ***************************************** */
@media (max-width:768px) {
    .seccionDetalle {
        height: initial;
    }
    .contenedorDetalle {
        padding-top:20px;
        display: flex;
        flex-direction: column;
        row-gap: var(--spacing-20);
        width: 75%;
    }
    .imagenDetalle > img {
        height: 300px; 
    }
    .textoDetalle > h1 {
        font-size: var(--font-mmlarge);
        font-weight: 700;
    }
    .textoDetalle > h2 {
        font-size: var(--font-medium);
        font-weight: 700;
    }
    .contenedorCreditos {
        flex-direction: column;
     }

     .seccionVideo {
        height: initial;
        padding-top: var(--spacing-40);
        padding-bottom: var(--spacing-40);

        display: flex;
        flex-direction: column;
        row-gap: var(--spacing-20);
        width: 100%;

        animation-range: entry 10% cover 70%; 
     }
     .contenedorTrailer {
        width: 95%;
     }
     .contenedorTrailer > iframe{
        width: 100%;
        height: 300px;
    
    }
     .contenedorTrailer > h2 {
        font-size: var(--font-mmlarge);
        padding-bottom: var(--spacing-20);
     }
     .contenedorInfo {
        width: 100%;
     }
     .contenedorRedesSociales {
        width:100%;
     }
     .listRedesSociales {
        display: flex;
        justify-content: space-between;
        margin-left: var(--spacing-20); 
        margin-right: var(--spacing-20); 
     }
     .contenedorPresupuesto {
        width: 100%;
    }
    .contenedorPresupuesto table {
        width: 100%;
    }
     .contenedorPresupuesto td {
        padding: var(--spacing-12) var(--spacing-12);
        font-size: var(--font-small);
    }
}



