@import 'styles.css';


.bodyLogin {
    background-image: linear-gradient(to right top, var(--secondary-500), var(--secondary-500)), url(../images/bg-register.jpg);
    background-position: center;
    background-size: cover; /* cubre toda el area */
    height: 100vh;   
}

.headerLogin {
    color: var(--light-font-solid);
    height: 10vh;
    padding: var(--spacing-24);
}

.seccionLogin {
    width: 30%;
    background-color: var(--dark-grey);
    color: var(--light-font-solid);
    margin: 0 auto;
    border-radius: 5px;
    padding: var(--spacing-32) var(--spacing-16);
    height: 88vh; /* el otro 10% del viewport lo tiene el header */

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.formLogin {
    width: 100%;
    padding: var(--spacing-40);
}


input[type="text"],[type="email"],input[type="password"] {
    font-family: var(--base-font);
    font-size: var(--font-medium);
    border-radius: 20px;
    background-color: var(--input-solid);
    color: var(--light-font-solid); 
    border: 2px solid var(--primary-solid);
    width: 100%;
    height: 40px;
    outline: none; /* elimina efecto sombra */
    padding: 0px var(--spacing-20);
    margin-top: var(--spacing-12);
    margin-bottom: var(--spacing-12);
}

.buttonLogin {
    border: 0px;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16);
    border-radius: 5px;
    width: 100%;
    font-size: var(--font-medium);
}

.linkRegister {
    font-size: var(--font-small);
    color: var(--font-dark-grey);
    text-decoration: none;
}

.error input:not(.check,.boton) { /* agrega al input un borde rojo (campo con dato erroneo) */
    border: 1px solid var(--error-solid);
}

.errorDiv {
    color: var(--error-solid);
    font-size: var(--font-xsmall);
    margin-top: 0px;
    margin-bottom: var(--spacing-8);
}

/* **************** @media hasta 768px ***************************************** */
@media (max-width: 768px) {
    .headerLogin {
        padding: var(--spacing-20);
    }
    .seccionLogin {
        width: 95%;
        /* padding: 10px 10px;
     */
    }
    h2.tituloSection {
        font-size: var(--font-large);
    } 
    .formLogin {
        text-align: center;
        width: 80%;
    }
    input[type="email"],input[type="password"] {
        height: 35px;
        font-size: var(--font-small);
    }
    .buttonLogin {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: var(--font-xsmall);
    }
    .linkRegister {
        text-align: left;
        font-size: var(--font-small);
    }
}
